// colors
$white-1: #fff;
$white-2: #F7F9FB;
$black-1: #000;
$black-2: #111111;
$gray-1: #222629;
$gray-2: #474B4F;
$gray-3: #6B6E70;
$gray-4: #9b9b9b;
$blue-1: #026670;
$blue-2: #00bcd4;
$blue-3: #9FEDD7;
$green-1: #11998e;
$green-2: #38ef7d;
$red-1: #FF3B3F;
$red-2: #FA7C92;

// box sizes
$columns: 12;

// margin and padding sizes
$m-p: 35;